* {
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #1d2025;
  color: white;
  height: 100%;
}

#root,
.App {
  height: 100%;
}

.App {
  padding: 0 10rem;
}

/* GRID - start */

.joinOrCreateWrapper {
  margin-top: 15rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(24, 1fr);
}

.createRoomWrapper {
  margin-bottom: 1rem;
  grid-row: 1 / 2;
  grid-column: 8/18;
}

.joinRoomWrapper {
  grid-row: 2 / 3;
  grid-column: 8/18;
}

/* GRID - end */

.createRoomWrapper,
.joinRoomWrapper {
  padding: 1rem;
  border-radius: 10px;
  background-color: #1f2933;
}

.createRoomWrapper > h2,
.joinRoomWrapper > h2 {
  margin-bottom: 0.75rem;
}

.joinRoomWrapper div:first-of-type {
  margin-bottom: 0.5rem;
}

.createRoomWrapper div,
.joinRoomWrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.joinOrCreateWrapper input {
  height: 20px;
  padding: 0.25rem;
  font-size: larger;
}
.joinOrCreateWrapper button {
  float: right;
  margin-top: 0.5rem;
  background: none;
  color: #efc9a3;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  font-weight: bold;
}

.joinOrCreateWrapper button:hover {
  cursor: pointer;
  transform: scale(1.1);
  text-decoration: underline;
}

/* MESSAGE INTERFACE - start */

.chat-interface {
  background-color: #3a424c;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

.message-input {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0 1rem;
  background-color: #1f2933;
}

.message-input input {
  height: 50%;
  width: 100%;
  border-radius: 8px;
  font-size: larger;
  padding: 0.2rem;
}
.message-input button {
  height: 50%;
  width: 12%;
  background: #efc9a3;
  color: black;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

/* MESSAGE INTERFACE - end */

/* MESSAGES - start */
.message-container div {
  margin: 0.5rem 0;
}
.info {
  display: flex;
  justify-content: center;
}
.message {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}
.right p {
  margin-right: 1rem;
}

.left p {
  margin-left: 1rem;

}

/* MESSAGES - end */
